

#container {
	width: 100%;
	height: 90%;
	background-image: url(./field3.svg);
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 7px;
	touch-action: none;
  }
.item {
	width: 3vw;
	height: 3vw;
	border: 10px solid rgba(136, 136, 136, .5);
	border-radius: 50%;
	touch-action: none;
	user-select: none;
  }
#buttons {
	text-align: center;
}
  .red {
	background-color: rgb(245, 140, 99);
  }
  .blue {
	background-color: rgb(99, 121, 245);
  }
  .ball {
	width: 1.5vw;
	height: 1.5vw;
	background-color: rgb(236, 233, 16);
  }
  #item:active {
	background-color: rgba(168, 218, 220, 1.00);
  }
